.code-generation {
    margin-bottom: 228px;
}

select {
    cursor: pointer;
}

.code-generation h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 32px;
}

.code-generation__main {
    display: flex;
    justify-content: space-between;
}

.code-generation__main__left {
    background-color: white;
    width: 46%;
    height: 571px;
    padding: 24px 2.1% 0;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;
}

.code__generation__main__left__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: flex-end;
}

.code__generation__main__left__section:nth-child(3) {
    margin-bottom: 32px;
}


.code__generation__main__left__section label {
    width: 44%;
}

.code__generation__main__left__section label p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 4px;
}

.code__generation__main__left__section label input,
.code__generation__main__left__section label select {
    width: 100%;
    height: 35px;
    padding: 0 4.9%;
    outline: 1px solid #DBDADE;
    border-radius: 4px;
}

.code__generation__main__left__section label input::placeholder {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    left: 162%;
    color: #4B465C;
    opacity: 0.4;
}

.code__generation__main__left__section button {
    width: 26%;
    height: 38px;
    background-color: #FF9F43;
    color: white;
    font-family: "inter";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 118%;
    letter-spacing: 0.43px;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
    border-radius: 6px;
    cursor: pointer;
}

.code__generation__main__left__section button:hover {
    background-color: #C24624;
}

.code__generation__main__left__choose-table p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 8px;
}

.code__generation__main__left__choose-table__tables {
    height: 274px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}

.code__generation__main__left__choose-table__tables div {
    width: 13%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(75, 70, 92, 0.4);
    border-radius: 6px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: rgba(75, 70, 92, 0.4);
    cursor: pointer;
}

.code__generation__main__left__choose-table__tables div.selected {
    border-color: #FF9F43;
    background-color: rgba(255, 159, 67, 0.16);
    color: #FF9F43;
}

.code-generation__main__right {
    width: 36%;
    background-color: white;
    padding: 0 2.1%;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;
    text-align: center;
}

.code-generation__main__right__header__figures {
    height: 38px;
    display: flex;
    margin: 0 auto;
}

.code-generation__main__right__header__figures p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.9;
}

.code-generation__main__right__header__figures p:first-child {
    width: 31%;
}

.code-generation__main__right__header__figures p:nth-child(2) {
    width: 43%;
}

.code-generation__main__right__header__figures p:nth-child(3) {
    width: 26%;
}

.code-generation__main__right__header__line {
    margin-bottom: 62px;
    display: flex;
    align-items: center;
}

.code-generation__main__right__header__line div {
    height: 1px;
    background-color: #DBDADE;
}

.code-generation__main__right__header__line div.selected {
    height: 3px;
    background-color: #7367F0;
}

.code-generation__main__right__header__line div:first-child {
    width: 31%;
}

.code-generation__main__right__header__line div:nth-child(2) {
    width: 43%;
}

.code-generation__main__right__header__line div:last-child {
    width: 26%;
}

.code-generation__main__right__QR-section {
    padding-top: 8px;
    background-color: #F8F9FA;
    border-radius: 20px;
    text-align: center;
    font-family: Montserrat;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.code-generation__main__right__QR-section.circle {
    border-radius: 100%;
}


.code-generation__main__right__QR-section h5 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 225%;
    color: #FF9F43;
}

.code-generation__main__right__QR-section h5.rectangle {
    margin-top: 2px;
    margin-bottom: 13px;
}

.code-generation__main__right__QR-section h5.circle {
    margin-top: 2px;
    margin-bottom: 4px;
}

.code-generation__main__right__QR-section h5 span {
    color: #C24624;
}

.code-generation__main__right__QR-section__view-menu {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 136%;
    color: #101113;
}

.code-generation__main__right__QR-section__view-menu.rectangle,
.code-generation__main__right__QR-section__view-menu.circle {
    margin-bottom: 4px;
}

.code-generation__main__right__QR-section__description {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #101113;
}

.code-generation__main__right__QR-section__description.sqare {
    margin-bottom: 13px;
} 

.code-generation__main__right__QR-section__description.rectangle {
    margin-bottom: 16px;
}

.code-generation__main__right__QR-section__description.circle {
    margin-bottom: 14px;
}

.code-generation__main__right__QR-section__QR-code {
    width: 42%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-image: url("../assets/2023032300022\ 1.png");
    background-size: cover;
}

.code-generation__main__right__QR-section__QR-code.sqare {
    margin-bottom: 1px;
}

.code-generation__main__right__QR-section__QR-code.rectangle,
.code-generation__main__right__QR-section__QR-code.circle {
    margin-bottom: 4px;
}

.code-generation__main__right__QR-section a {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: rgba(194, 70, 36, 0.6);
    display: block;
}

.code-generation__main__right__QR-section a.sqare {
    margin-bottom: 9px;
}

.code-generation__main__right__QR-section a.rectangle {
    margin-bottom: 18px;
}

.code-generation__main__right__QR-section a.circle {
    margin-bottom: 12px;
}

.code-generation__main__right__QR-section__table-number {
    width: 48%;
    height: 36px;
    border-radius: 10px;
    background-color: #DEE2E6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 107%;
    color: #101113;
    margin: 0 auto;
}

.code-generation__main__right__QR-section__table-number.rectangle {
    margin-bottom: 9px;
}

.code-generation__main__right__QR-section__table-number.circle {
    width: 27%;
    margin-bottom: 4px;
}

.code-generation__main__right__download-section {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px ;
}

.code-generation__main__right__download-section select {
    width: 58%;
    padding-left: 3.9%;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
    color: #4B465C;
    opacity: 0.5;
    outline: 1px solid #DBDADE;
    height: 100%;
    border-radius: 6px;
}

.code-generation__main__right__download-section__button {
    width: 37%;
    height: 100%;
    display: flex;
    color: white;
    background-color: #FF9F43;
    align-items: center;
    justify-content: center;
    column-gap: 6.2%;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
    border-radius: 6px;
    cursor: pointer;
}

.code-generation__main__right__download-section__button:hover {
    background-color: #C24624;
}

.code-generation__main__right__download-section__button p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.43px;
}

.code-generation__main__right__download-section__button div {
    width: 18px;
    height: 18px;
    background-image: url("../assets/download.png");
} 