.employers h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 24px;
}

.employers__search-and-add {
    display: flex;
    padding: 24px 2.12%;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    height: 78px;
    border-radius: 6px 6px 0 0;
}

.employers__search-and-add__search {
    width: 29%;
    height: 38px;
    padding-left: 1.2%;
    display: flex;
    column-gap: 1.8%;
    border: 1px solid #DBDADE;
    border-radius: 6px;
    align-items: center;
}

@media (max-width: 399px) {
    .employers__search-and-add__search {
        width: 24%;
    }
}

.employers__search-and-add__search input {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 160%;
    color: #4B465C;
    opacity: 0.8;
    height: 35px;
    outline: none;
}

@media (max-width: 399px) {
    .employers__search-and-add__search input {
        width: 95%;
    }
}

.employers__search-and-add_add {
    width: 20%;
    height: 38px;
    display: flex;
    justify-content: center;
    column-gap: 0.7%;
    align-items: center;
    background-color: #FF9F43;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width: 1284px) {
    .employers__search-and-add_add {
        width: 25%;
    }
}

@media (max-width: 844px) {
    .employers__search-and-add_add {
        width: 30%;
    }
}

@media (max-width: 699px) {
    .employers__search-and-add_add {
        width: 35%;
    }
}

@media (max-width: 599px) {
    .employers__search-and-add_add {
        width: 40%;
    }
}

.employers__search-and-add_add:hover {
    background-color: #C24624;
}

.employers__search-and-add_add div {
    width: 18px;
    height: 18px;
    background-image: url("../assets/plus.png");
}

.employers__search-and-add_add p {
    font-family: "inter";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 118%;
    letter-spacing: 0.43px;
    color: white;
}

@media (max-width: 444px) {
    .employers__search-and-add_add p {
        font-size: 1rem;
    }
}

.employers__main__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 118%;
    letter-spacing: 1px;
    border-top: 1px solid #DBDADE;
    z-index: 2;
}

@media (max-width: 899px) {
    .employers__main__header {
        font-size: 0.98rem;
    }
}

@media (max-width: 699px) {
    .employers__main__header {
        font-size: 0.74rem;
    }
}

.employers__main__header__section {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.7%;
}

.employers__main__header__section:first-child {
    width: 25%;
}

@media (max-width: 599px) {
    .employers__main__header__section:first-child {
        width: 23%;
    }
}

.employers__main__header__section:nth-child(2) {
    width: 21%;
}

@media (max-width: 599px) {
    .employers__main__header__section:nth-child(2) {
        width: 19%;
    }
}

.employers__main__header__section:nth-child(3) {
    width: 20%;
}

@media (max-width: 599px) {
    .employers__main__header__section:nth-child(3) {
        width: 18%;
    }
}

.employers__main__header__section:nth-child(4) {
    width: 23%;
}

@media (max-width: 599px) {
    .employers__main__header__section:nth-child(4) {
        width: 21%;
    }
}

.employers__main__header__section:last-child {
    width: 11%;
}

@media (max-width: 599px) {
    .employers__main__header__section:last-child {
        width: 19%;
    }
}

.employers__main__header__section p {
    flex-grow: 1;
    color: #4B465C;
    opacity: 0.9;
}

.employers__main__header__section > div {
    width: 18px;
    height: 36px;
}

.employers__main__header__section > div div {
    width: 18px;
    height: 18px;
}

.employers__main__header__section > div div:first-child {
    background-image: url("../assets/fi_chevron-up.png");
}

.employers__main__header__section > div div:first-child.dark {
    background-image: url("../assets/fi_chevron-up-dark.png");
    cursor: pointer;
}

.employers__main__header__section > div div:nth-child(2) {
    background-image: url("../assets/chevron-down.png");
}

.employers__main__list {
    background-color: white;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 0 0 6px 6px;
    height: 580px;
    overflow-y: hidden;
    position: relative;
}

.employers__main__list__section {
    height: 58px;
    border-top: 1px solid #DBDADE;
    display: flex;
    align-items: center;
}

.employers__main__list__section__name {
    width: 25%;
    display: flex;
    align-items: center;
    column-gap: 0.88%;
    padding-left: 1.77%;
    column-gap: 5%;
}

@media (max-width: 599px) {
    .employers__main__list__section__name {
        width: 23%;
    }
}

.employers__main__list__section__name div {
    width: 38px;
    height: 38px;
    background-size: cover;
}

@media (max-width: 874px) {
    .employers__main__list__section__name div {
        width: 29px;
        height: 29px;
    }
}

@media (max-width: 599px) {
    .employers__main__list__section__name div {
        width: 22px;
        height: 22px;
    }
}

.employers__main__list__section__name div.edgar-jones {
    background-image: url("../assets/edgar-jones.png")
}

.employers__main__list__section__name div.linnie {
    background-image: url("../assets/linnie.png");
}

.employers__main__list__section__name div.isabelle {
    background-image: url("../assets/isabelle.png");
}

.employers__main__list__section__name div.jason {
    background-image: url("../assets/Jason.png");
}

.employers__main__list__section__name p {
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

@media (max-width: 874px) {
    .employers__main__list__section__name p {
        font-size: 1.1rem;
    } 
}

@media (max-width: 599px) {
    .employers__main__list__section__name p {
        font-size: 0.83rem;
    } 
}

.employers__main__list__section__name input {
    height: 30px;
    border: 1px solid #4B465C;
    border-radius: 6px;
    padding-left: 2%;
}

.employers__main__list__section__post {
    width: 21%;
    padding-left: 1.77%;
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

@media (max-width: 1234px) {
    .employers__main__list__section__post {
        font-size: 1.1rem;
    }
}

@media (max-width: 749px) {
    .employers__main__list__section__post {
        font-size: 0.82rem;
    }
}

@media (max-width: 599px) {
    .employers__main__list__section__post {
        width: 19%;
        font-size: 0.62rem;
    }
}


.employers__main__list__section__email {
    width: 20%;
    padding-left: 1.77%;
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

@media (max-width: 1399px) {
    .employers__main__list__section__email {
        font-size: 1.1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1094px) {
    .employers__main__list__section__email {
        font-size: 0.83rem;
    }
}

@media (max-width: 874px) {
    .employers__main__list__section__email {
        font-size: 0.62rem;
    }
}

@media (max-width: 599px) {
    .employers__main__list__section__email {
        width: 18%;
    }
}

.employers__main__list__section__last-change {
    width: 23%;
    display: flex;
    align-items: center;
    padding-left: 1.77%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

@media (max-width: 749px) {
    .employers__main__list__section__last-change {
        font-size: 1.1rem;
    }
}

@media (max-width: 599px) {
    .employers__main__list__section__last-change {
        font-size: 0.83rem;
    }
}

@media (max-width: 599px) {
    .employers__main__list__section__last-change {
        width: 21%;
    }
}

.employers__main__list__section__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14%; 
    width: 11%;
}

@media (max-width: 599px) {
    .employers__main__list__section__actions {
        width: 19%;
    }
}

.employers__main__list__section__actions div {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.employers__main__list__section__actions div:first-child {
    background-image: url("../assets/pencil.png");
}

.employers__main__list__section__actions div:nth-child(2) {
    background-image: url("../assets/trash.png");
}

.employers__main__list__section:last-child .employers__main__list__section__name div {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #FF9F43;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 154%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employers__main__list__section:last-child .employers__main__list__section__actions {
    padding-left: 4%;
}

.employers__substrate {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B465C;
    opacity: 0.3;
    display: none;
}

.employers__substrate.active {
    display: block;
}

.employers__popup {
    display: none;
    position: fixed;
    width: 514px;
    height: 436px;
    border-radius: 32px;
    padding-top: 32px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(75, 70, 92, 0.4);
    z-index: 2;
    flex-direction: column;
    row-gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 574px) {
    .employers__popup {
        width: 90%;
    }
}

@media (max-width: 374px) {
    .employers__popup {
        width: 85%;
    }
}

@media (min-width: 320px) and (min-height: 360px) and (max-width: 640px) and (max-height: 640px) {
    .employers__popup {
        top: 30px;
    }
}

@media (width: 640px) and (height: 360px) {
    .employers__popup {
        height: 90vh;
        padding-top: 0;
        row-gap: 10px;
    }
}

.employers__popup.active {
    display: flex;
}

.employers__popup__steps {
    width: 88%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin: 0 auto;
}

.employer__popup__section {
    width: 88%;
    margin: 0 auto;
    display: flex;
    column-gap: 4.4%;
}

.employer__popup__section label {
    flex-grow: 1;
}

.employer__popup__section label p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 4px;
}

@media (max-width: 425px) {
    .employer__popup__section label p {
        font-size: 0.74rem;
    }
}

.employer__popup__section label p span   {
    color: red;
}

.employer__popup__section label input {
    width: 100%;
    height: 38px;
    border-radius: 6px;
    outline: 1px solid #DBDADE;
    padding-left: 3.1%;
}

.employer__popup__section label input.invalid {
    outline: 1px solid red;
}

.employer__popup__button {
    width: 88%;
    height: 38px;
    background-color: #FF9F43;
    font-family: "Inter";
    font-size: 1.5rem;
    line-height: 118%;
    color: white;
    font-weight: 500;
    letter-spacing: 0.43px;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
}

.employer__popup__button:hover {
    background-color: #C24624;
}

.employer__popup__button.countdown {
    background-color: white;
    border: 1px solid #A8AAAE;
    border-radius: 6px;
    color: #A8AAAE;
    cursor: unset;
}

.employers__popup h2 {
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 349px) {
    .employers__popup h2 {
        font-size: 1.7rem;
    }
}

.employers__popup__cross {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.employers__popup__cross div {
    width: 20px;
    height: 20px;
    background-image: url("../assets/x.png");
    background-size: cover;
}