.list-of-services {
    font-family: "Inter";
    margin-bottom: 30px;
}

@media (min-width: 712px) and (min-height: 1138px) and (max-width: 1024px) and (max-height: 1368px) {
    .list-of-services {
        margin-bottom: 300px;
    }
}

.list-of-services h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 24px;
}

.list-of-services__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.5%;
    flex-wrap: wrap;
    row-gap: 26px;
}

@media (max-width: 652px) {
    .list-of-services__main {
        justify-content: center;
        column-gap: 10%;
    }
}

.service-card {
    width: 31%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width: 652px) {
    .service-card {
        width: 36%;
    }
}

@media (max-width: 652px) {
    .service-card {
        width: 41%;
    }
}

@media (max-width: 484px) {
    .service-card {
        width: 61%;
    }
}

.service-card:hover button {
    background-color: #C24624;
}

.service-card__main {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 24px 6.8%;
}

.service-card__image {
    background-image: url("../assets/Image.png");
    aspect-ratio: 1.7;
    border-radius: 6px 6px 0 0;
    background-size: contain;
}

.service-card h4 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 133%;
    color: #4B465C;
    opacity: 0.9;
}

.service-card p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

.service-card__order-block {
    display: flex;
    column-gap: 6.6%;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 118%;
    letter-spacing: 0.43px;
}

.service-card__order-block button {
    width: 36%;
    height: 38px;
    background-color: #FF9F43;
    color: white;
    border-radius: 6px;
}

.service-card__order-block p {
    color: #FF9F43;
}

.list-of-services__substrate {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B465C;
    opacity: 0.3;
    display: none;
}

.list-of-services__substrate.active {
    display: block;
}