.login-section {
    width: 38%;
    margin: 14vh auto;
    position: relative;
    padding-top: 15vh;
}

@media (max-width: 1279px) {
    .login-section {
        width: 45%;
    }
}

@media (max-width: 1080px) {
    .login-section {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .login-section {
        width: 59%;
    }
}

@media (max-width: 824px) {
    .login-section {
        width: 70%;
    }
}

@media (max-width: 696px) {
    .login-section {
        width: 86%;
    }
}

@media (max-width: 565px) {
    .login-section {
        width: 95%;
    }
}

@media (width: 640px) and (height: 360px) {
    .login-section {
        padding-top: 5vh;
    }
}

.top-shape {
    width: 43%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
}

@media (max-width: 1024px) {
    .top-shape {
        width: 28%;
    }
}

.login-form {
    position: relative;
    width: 82%;
    padding: 32px;
    background-color: white;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 339px) {
    .login-form {
        padding: 16px;
    }
}

@media (max-width: 298px) {
    .login-form {
        padding: 8px;
    }
}

.login-form h3 {
    font-family: "Inter";
    font-weight: 700;
    text-align: center;
    font-size: 2.8rem;
    line-height: 129%;
    color: #C24624;
    margin-bottom: 2.9vh;
}

.login-form h3 span:first-child {
    color: #FF9F43;
}

.welcome-section {
    margin-bottom: 2.4vh;
}

.welcome-section p:first-child {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    margin-bottom: 0.555vh ;
}

@media (max-width: 360px) {
    .welcome-section p:first-child {
        font-size: 1.5rem;
    }
}

.welcome-section p:nth-child(2) {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
}

@media (max-width: 511px) {
    .welcome-section p:nth-child(2) {
        font-size: 1.1rem;
    }
}

@media (max-width: 397px) {
    .welcome-section p:nth-child(2) {
        font-size: 0.9rem;
    }
}

.login-form label {
    cursor: pointer;
}

.login-form label p {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    margin-bottom: 0.37vh;
}

.login-form label p span {
    color: red;
}

.login-form label input {
    height: 3.5vh;
    width: 100%;
    padding-left: 14px;
    margin-bottom: 1.48vh;
    outline: 1px solid #DBDADE;
    border-radius: 6px;
}

.login-form label input.invalid {
    outline-color: red;
}

.login-form button {
    width: 100%;
    height: 3.51vh;
    background-color: #FF9F43;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 118%;
    color: white;
    letter-spacing: 0.43px;
    margin-bottom: 2.4vh;
    cursor: pointer;
    border-radius: 6px;
}

.login-form button:hover {
    background-color: #C24624;
}

.login-form button > * {
    color: white;
}

.no-account {
    margin: 0 auto;
    width: 100%;
    font-family: Inter;
    color: #4B465C;
    font-size: 1.5rem;
    line-height: 147%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    column-gap: 1%;
}

@media (max-width: 415px) {
    .no-account {
        flex-direction: column;
        align-items: center;
    }
}

.get-register {
    color: #FF9F43;
    text-decoration: none;
}

.get-register:hover {
    text-decoration: underline;
}

.password-section {
    position: relative;
}

.password-forgotten {
    position: absolute;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: #FF9F43;
    right: 0;
    top: -1px
}

.password-forgotten:hover {
    text-decoration: underline;
}

.bottom-shape {
    position: absolute;
    right: 0;
    top: 53vh;
    aspect-ratio: 1;
}

@media (max-width: 1024px) {
    .bottom-shape {
        width: 21%;
    }
}