.main__container {
    display: flex;
    column-gap: 1.8%;
}

.aside {
    width: 260px;
    padding-top: 20px;
    background-color: white;
    height: 1024px;
    padding-left: 14px;
    z-index: 10;
}

@media (max-width: 1024px) {
    .aside {
        display: none;
    }
}

.aside h3 {
    font-family: "Inter";
    font-weight: 700;
    text-align: center;
    font-size: 2.2rem;
    line-height: 109%;
    color: #C24624;
    margin-bottom: 2.9vh;
}

.aside h3 span:first-child {
    color: #FF9F43;
}

.aside__item {
    width: 232px;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
}

.aside__item.opened {
    background-color: rgba(75, 70, 92, 0.04);
}

.aside__item.opened .aside__item__arrow {
    transform: rotateZ(90deg);
}

.aside__item:hover {
    background: rgba(75, 70, 92, 0.04);
}

.aside__item div {
    width: 22px;
    height: 22px;
}

.aside__item p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    flex-grow: 1;
}

.aside__item__arrow {
    width: 18px;
    height: 18px;
    background-image: url('../assets/chevron-right.png');
}

.aside__item-summary div {
    background-image: url("../assets/chart-pie.png");
}

.aside__item-menu div:first-child {
    background-image: url("../assets/tools-kitchen-2.png");
}

.aside__item-tables div:first-child {
    background-image: url("../assets/container.png");
}

.aside__item-order-list div:first-child {
    background-image: url("../assets/list.png");
}

.aside__item-employers div:first-child {
    background-image: url("../assets/users.png");
}

.aside__item-marketing div:first-child {
    background-image: url("../assets/chart-dots.png");
}

.aside__item-statistics div:first-child {
    background-image: url("../assets/chart-bar.png");
}

.aside__item-settings div:first-child {
    background-image: url("../assets//settings.png");
}

.aside__item-subscribe div:first-child {
    background-image: url("../assets/currency-rubel.png");
}

.aside__item-support div:first-child {
    background-image: url("../assets/help.png");
}

.aside__item-drop-down div {
    background-image: url("../assets/point.png");
}

.main__right {
    width: 78%; /*1128px*/
}

@media (max-width: 1024px) {
    .main__right  {
        width: 95%;
        margin: 0 auto;
    }
}

.main__header {
    display: flex;
    padding: 1.25vh 1.66%;
    height: 62px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.96vh;
    margin-top: 20px;
}

@media (max-width: 650px) {
    .main__header {
        flex-direction: column;
        height: 124px;
        align-items: flex-start;
    }
}

.main__header__left {
    width: 22%; /*290px*/
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .main__header__left {
        width: 30%; /*250*/
    }
}

@media (max-width: 1024px) {
    .main__header__left {
        width: 30%;
    }
}

@media (max-width: 650px) {
    .main__header__left {
        width: 45%;
    }
}

@media (max-width: 499px) {
    .main__header__left {
        width: 60%;
    }
}

.main__burger-btn {
    display: block;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    display: none;
}

@media (max-width: 1024px) {
    .main__burger-btn {
        display: flex;
    }
}

.main__burger-btn div {
    width: 16px;
    height: 2px;
    background-color: #4B465C;
    opacity: 0.8;
}

.main__header select {
    width: 100%; /*250px*/
    height: 35px;
    border: 1px solid #DBDADE;
    border-radius: 4px;
    padding: 0.64vh 0.88%;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 162%;
    color: #4B465C;
    /* z-index: 2; */
}

@media (max-width: 1024px) {
    .main__header select {
        width: 86%;
    }
}

.main__header__right {
    width: 39%; /*435px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1325px) {
    .main__header__right {
        width: 44%;
    }
} 

@media (max-width: 1194px) {
    .main__header__right {
        width: 49%;
    }
} 

@media (max-width: 1094px) {
    .main__header__right {
        width: 59%;
    }
}  

@media (max-width: 1024px) {
    .main__header__right {
        width: 45%; /*435px*/
    }
}

@media (max-width: 939px) {
    .main__header__right {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .main__header__right {
        width: 65%;
    }
}

@media (max-width: 650px) {
    .main__header__right {
        width: 80%;
    }
}

@media (max-width: 528px) {
    .main__header__right {
        width: 95%;
    }
}

.main__header__price {
    width: 34%; /*150 px*/
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDADE;
    border-radius: 6px;
}

@media (max-width: 367px) {
    .main__header__price {
        column-gap: 3%;
    }
}

.main__header__price__wallet {
    width: 18px;
    height: 18px;
    background-image: url("../assets/wallet.png");
}

.main__header__price p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 147%;
    color: #A8AAAE;
    letter-spacing: 0.43px;
}

@media (max-width: 367px) {
    .main__header__price p {
        font-size: 1rem;
    }
}

.main__header__theme-tumbler {
    width: 26px;
    height: 26px;
    background-image: url("../assets/moon-stars.png");
}

.main__header__notifications {
    width: 32px;
    height: 37px;
    background-image: url("../assets/Notification.png");
}

.main__header__employer {
    width: 41%; /*179px*/
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8.9%;
}

.main__header__employer__left p:first-child {
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

@media (max-width: 444px) {
    .main__header__employer__left p:first-child {
        font-size: 1rem;
    }
}

.main__header__employer__left p {
    font-family: "Inter";
    font-size: 1.3rem;
    line-height: 154%;
    color: #4B465C;
    opacity: 0.5;
}

@media (max-width: 444px) {
    .main__header__employer__left p {
        font-size: 0.9rem;
    }
}

.main__header__employer__right {
    width: 39px;
    height: 39px;
    background-image: url("../assets/linnie.png");
    background-size: cover;
}

@media (max-width: 330px) {
    .main__header__employer__right {
        width: 29px;
        height: 29px;
    }
}

.substrate {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
}