.reset-password-section {
    width: 38%; /*552px*/
    margin: 22vh auto;
    position: relative;
    padding-top: 8.2vh;
}

@media (max-width: 1264px) {
    .reset-password-section {
        width: 45%;
    }
}

@media (max-width: 1064px) {
    .reset-password-section {
        width: 50%;
    }
}

@media (max-width: 964px) {
    .reset-password-section {
        width: 60%;
    }
}

@media (max-width: 814px) {
    .reset-password-section {
        width: 70%;
    }
}

@media (max-width: 704px) {
    .reset-password-section {
        width: 80%;
    }
}

@media (max-width: 599px) {
    .reset-password-section {
        width: 95%;
    }
}

.reset-password__top-shape {
    background: url("../assets/register-top-shape.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 43%;
    aspect-ratio: 1;
}

.reset-password__form {
    position: relative;
    width: 93%; /*514px*/;
    padding: 2.9vh 5.7%;
    background-color: white;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 504px) {
    .reset-password__form {
        width: 95%;
    }
}

.reset-password__steps {
    display: flex;
    width: 60%; /*308px*/
    justify-content: space-between;
    margin: 0 auto 4.6vh;
}

@media (max-width: 494px) {
    .reset-password__steps {
        width: 80%;
    }
}

@media (max-width: 374px) {
    .reset-password__steps {
        width: 95%;
    }
}

.steps__first-step {
    background: url("../assets/reset__user.png") no-repeat center;
    width: 16%;
    aspect-ratio: 1;
}

.steps__first-step.active {
    background: url("../assets/reset__user-active.png") no-repeat center;
}

.steps__arrow {
    background: url("../assets/reset__arrow.png") no-repeat center;
    width: 7.8%;
    aspect-ratio: 1;
}

.steps__second-step {
    background: url("../assets/reset__keyboard.png") no-repeat center;
    width: 17%;
    aspect-ratio: 1;
}

.steps__second-step.active {
    background: url("../assets/reset__keyboard-active.png") no-repeat center;
}

.steps__third-step {
    background: url("../assets/reset__check.png") no-repeat center;
    width: 17%;
    aspect-ratio: 1;
}

.steps__third-step.active {
    background: url("../assets/reset__check-active.png") no-repeat center;
}

.reset-password-section label {
    cursor: pointer;
    margin-bottom: 2.22vh;
    display: block;
}

.reset-password-section label p {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    margin-bottom: 0.37vh;
}

.reset-password-section label input {
    height: 3.5vh;
    width: 100%;
    padding-left: 14px;
    outline: 1px solid #DBDADE;
    border-radius: 6px;
}

.reset-password__form button {
    width: 100%;
    height: 3.51vh;
    background-color: #FF9F43;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 118%;
    color: white;
    letter-spacing: 0.43px;
    cursor: pointer;
    border-radius: 6px;
}

@media (max-height: 494px) {
    .reset-password__form button {
        height: 5vh;
    }
}

@media (max-height: 349px) {
    .reset-password__form button {
        height: 10vh;
    }
}


.reset-password__bottom-shape {
    background: url("../assets/reset__bottom-shape.png");
    width: 35%;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    top: 22vh;
}