.statistics {
    font-family: Inter;
    margin-bottom: 100px;
}

.statistics h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 24px;
}

.statistics__dates {
    width: 556px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

@media (max-width: 599px) {
    .statistics__dates {
        flex-direction: column;
        width: 266px;
        row-gap: 24px;
    }  
}

.statistics__dates__date {
    width: 266px;
    position: relative;
}

.date label {
    cursor: pointer;
    display: block;
    margin-bottom: 4px;
}

.date label p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 118%;
    color: #4B465C;
    opacity: 0.9;
    margin-bottom: 4px;
}

.date label > div {
    width: 100%;
    height: 33px;
    border: 1px solid #DBDADE;
    border-radius: 4px;
    display: flex;
    column-gap: 1.5%;
    align-items: center;
    padding-left: 3.8%;
    background-color: white;
}

.date label > div div {
    width: 18px;
    height: 18px;
    background-image: url("../assets/calendar.png");
}

.date label > div input {
    width: 84%;
    height: 21px;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 162%;
    color: #4B465C;
    opacity: 0.4;
    padding-top: 4px;
}

.date__calendar {
    width: 100%;
    padding: 0 6px;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(165, 163, 174, 0.45);
    border-radius: 6px;
    color: #4B465C;
    display: none;
    position: absolute;
    z-index: 1;
}

.date__calendar.open {
    display: block;
}

.date__calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #DBDADE;
    padding: 0 14px;
}

.date__calendar__header__left {
    display: flex;
    column-gap: 2%;
    flex-grow: 1;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 600;
    opacity: 0.9;
}

.date__calendar__header__right {
    display: flex;
    justify-content: space-between;
    width: 27%;
}

.date__calendar__header__right div {
    width: 28px;
    height: 28px;
    background-image: url("../assets/Arrow\ Left.png");
    cursor: pointer;
}

.date__calendar__header__right div:last-child {
    transform: rotate(180deg);
}

.daysOfWeek th {
    width: 34px;
    height: 34px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 108%;
    opacity: 0.9;
    margin-bottom: 12px;
}

.date__calendar tbody {
    text-align: center;
}

.date__calendar td {
    width: 34px;
    height: 34px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    opacity: 0.8;
    cursor: pointer;
}

.date__calendar td.current-date {
    border: 1px solid #FF9F43;
    color: #FF9F43;
    border-radius: 100%;
}

.date__calendar td.chosed-date {
    background-color: #FF9F43;
    color: white;
    border-radius: 100%;
}

.statistics__schedule {
    width: 100%;
    aspect-ratio: 3.76;
    background: url("../assets/image\ 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.statistics__info__header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: white;
}

@media (max-width: 779px) {
    .statistics__info__header {
        font-size: 0.98rem;
    }
}

@media (max-width: 628px) {
    .statistics__info__header {
        font-size: 0.74rem;
    }
}

@media (max-width: 515px) {
    .statistics__info__header {
        font-size: 0.56rem;
    }
}

.statistics__info__header__section:first-child {
    width: 13%;
}

.statistics__info__header__section:nth-child(2) {
    width: 11%;
}

.statistics__info__header__section:nth-child(3) {
    width: 14%;
}

.statistics__info__header__section:nth-child(4) {
    width: 24%;
}

.statistics__info__header__section:nth-child(5) {
    width: 16%;
}

.statistics__info__header__section:last-child {
    width: 22%;
}

.statistics__info__header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.7%;
}

.statistics__info__header__section p {
    flex-grow: 1;
    color: #4B465C;
    opacity: 0.9;
}

.statistics__info__header__section > div {
    width: 18px;
    height: 36px;
}

.statistics__info__header__section > div div {
    width: 14px;
    height: 14px;
}

.statistics__info__header__section > div div:first-child {
    background-image: url("../assets/fi_chevron-up.png");
}

.statistics__info__header__section > div div:nth-child(2) {
    background-image: url("../assets/chevron-down.png");
}

.statistics__info__list {
    background-color: white;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 0 0 6px 6px;
}

.statistics__info__list__order {
    height: 58px;
    border-top: 1px solid #DBDADE;
    display: flex;
    align-items: center;
    padding-left: 1.77%;
    font-family: "Inter";
    font-size: 1.5rem;
    line-height: 147%;
    font-weight: 400;
    color: #4B465C;
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 624px) {
    .statistics__info__list__order {
        font-size: 1.1rem;
    }
}

@media (max-width: 457px) {
    .statistics__info__list__order {
        font-size: 0.83rem;
    }
}

.statistics__info__list__order__number {
    width: 13%;
    color: #FF9F43;
}

.statistics__info__list__order__table {
    width: 11%;
}

.statistics__info__list__order__cost {
    width: 14%;
}

.statistics__info__list__order__positions {
    width: 24%;
}

.statistics__info__list__order__status {
    width: 16%;
}

.statistics__info__order__date {
    width: 22%;
}

.statistics__info__list__order__status p {
    border-radius: 4px;
    padding: 5px 5.6%;
    width: max-content;

}

.statistics__info__list__order__status p.expects {
    background-color:rgba(168, 170, 174, 0.16);
    color: #A8AAAE;
}

.statistics__info__list__order__status p.accepted {
    background-color: rgba(40, 199, 111, 0.16);
    color: #28C76F;
}

.statistics__info__list__order__status p.completed {
    background-color: rgba(0, 207, 232, 0.16);
    color: #00CFE8;
}

.statistics__info__list__order__status p.getready {
    background-color: rgba(255, 159, 67, 0.16);
    color: #FF9F43;
}

.statistics__info__list__order__status p.canceled {
    background-color: rgba(234, 84, 85, 0.16);
    color: #EA5455;
}

.statistics__info__list__order__date {
    width: 22%;
    padding-left: 1%;
}

.statistics__info__list__order__last-change {
    width: 24%;
    padding-left: 1.5%;
}

.statistics__meel__info__header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.7%;
    background-color: white;
    font-size: 1.3rem;
    line-height: 118%;
    color: #4B465C;
    font-weight: 600;
    opacity: 0.9;
    border-radius: 6px 6px 0 0;
}

@media (max-width: 699px) {
    .statistics__meel__info__header {
        font-size: 0.98rem;
    }
}

@media (max-width: 499px) {
    .statistics__meel__info__header {
        font-size: 0.74rem;
    }
}

.statistics__meel__info__header__section {
    display: flex;
    align-items: center;
    padding-left: 1.7%;
    justify-content: space-between;
}

.statistics__meel__info__header__section:first-child {
    width: 26%;
}

.statistics__meel__info__header__section:nth-child(2) {
    width: 14%;
}

.statistics__meel__info__header__section:nth-child(3) {
    width: 18%;
}

.statistics__meel__info__header__section:nth-child(4) {
    width: 21%;
}

.statistics__meel__info__header__section:last-child {
    width: 21%;
}

.statistics__meel__info__header__section p {
    flex-grow: 1;
    color: #4B465C;
    opacity: 0.9;
}

.statistics__meel__info__header__section > div {
    width: 18px;
    height: 36px;
}

.statistics__meel__info__header__section > div div {
    width: 18px;
    height: 18px;
}

.statistics__meel__info__header__section > div div:first-child {
    background-image: url("../assets/fi_chevron-up.png");
}

.statistics__meel__info__header__section > div div:first-child.dark {
    background-image: url("../assets/fi_chevron-up-dark.png");
    cursor: pointer;
}

.statistics__meel__info__header__section > div div:nth-child(2) {
    background-image: url("../assets/chevron-down.png");
}

.statistics__info__list__meel {
    height: 58px;
    border-top: 1px solid #DBDADE;
    display: flex;
    align-items: center;
    color: #4B465C;
}

.statistics__info__list__meel__section:first-child {
    width: 26%;
    display: flex;
    align-items: center;
    column-gap: 0.88%;
    padding-left: 1.77%;
    column-gap: 5%;
}

.statistics__info__list__meel__section:first-child div {
    width: 38px;
    height: 38px;
    background-image: url("../assets/Rectangle\ 1.png");
    background-size: cover;
}

.statistics__info__list__meel__section:first-child p {
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.8;
}

.statistics__info__list__meel__section:nth-child(2) {
    width: 14%;
    display: flex;
    align-items: center;
    column-gap: 0.88%;
    padding-left: 1.77%;
    column-gap: 5%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    opacity: 0.8;
}

.statistics__info__list__meel__section:nth-child(3) {
    width: 18%;
    padding-left: 1.77%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 147%;
    opacity: 0.8;
}

.statistics__info__list__meel__section:nth-child(4) {
    width: 21%;
    padding-left: 1.7%;
}

.statistics__info__list__meel__section:nth-child(4) p {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 108%;
    padding: 5px 4.2%;
    width: max-content;
}

.statistics__info__list__meel__section:nth-child(4) .active {
    background-color: rgba(40, 199, 111, 0.16);
    color: #28C76F;
}

.statistics__info__list__meel__section:nth-child(4) .passive {
    background: rgba(60, 76, 109, 0.16);
    color: #A8AAAE;
}

.statistics__info__list__meel__section:last-child {
    width: 21%;
    padding-left: 1.77%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    opacity: 0.8;
}

@media (max-width: 799px) {
    .statistics__info__list__meel__section:first-child div {
        width: 29px;
        height: 29px;
    }

    .statistics__info__list__meel__section:first-child p {
        font-size: 1.1rem;
    }

    .statistics__info__list__meel__section:nth-child(2) {
        font-size: 1.1rem;
    }

    .statistics__info__list__meel__section:nth-child(3) {
        font-size: 1.1rem;
    }

    .statistics__info__list__meel__section:nth-child(4) p {
        font-size: 0.98rem;
    }

    .statistics__info__list__meel__section:last-child {
        font-size: 1.1rem;
    }
}

@media (max-width: 599px) {
    .statistics__info__list__meel__section:first-child div {
        width: 22px;
        height: 22px;
    }

    .statistics__info__list__meel__section:first-child p {
        font-size: 0.83rem;
    }

    .statistics__info__list__meel__section:nth-child(2) {
        font-size: 0.83rem;
    }

    .statistics__info__list__meel__section:nth-child(3) {
        font-size: 0.83rem;
    }

    .statistics__info__list__meel__section:nth-child(4) p {
        font-size: 0.74rem;
    }

    .statistics__info__list__meel__section:last-child {
        font-size: 0.83rem;
    }

}