.summary {
    padding-top: 1.8vh;
    padding-right: 1.8%;
}

@media (max-width: 1024px) {
    .summary {
        width: 95%; /*972px*/
        margin: 0 auto;
    }
}

@media (max-width: 337px) {
    .summary {
        padding-right: 0%;
    }
}


.summary h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 136%;
    color: #4B465C;
    opacity: 0.9;
    position: relative;
    margin-bottom: 32px;
}

.summary_main {
    display: flex;
    height: 314px;
    column-gap: 5.67%;
    margin-bottom: 486px;
}

@media (max-width: 1024px) {
    .summary_main {
        column-gap: 4.32%;
    }
}

@media (max-width: 496px) {
    .summary_main {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        height: 560px;
    }
}

@media (width: 1024px) and (height: 1366px) {
    .summary_main {
        margin-bottom: 825px;
    }
}

@media (width: 912px) and (height: 1368px) {
    .summary_main {
        margin-bottom: 825px;
    }
}

@media (width: 820px) and (height: 1180px) {
    .summary_main {
        margin-bottom: 825px;
    }
}

@media (width: 800px) and (height: 1280px) {
    .summary_main {
        margin-bottom: 825px;
    }
}

@media (width: 712px) and (height: 1138px) {
    .summary_main {
        margin-bottom: 825px;
    }
}

.summary__main__left {
    width: 28%; /*410px*/
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
}

@media (max-width: 1024px) {
    .summary__main__left {
        width: 38%; /*370px*/;
        height: 272px;
    }
}

@media (max-width: 496px) {
    .summary__main__left {
        width: 58%;
        height: 272px;
    }
}

.summary__main__left__item  {
    background-color: white;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;
    padding: 0 5.85%;
}

@media (max-width: 1024px) {
    .summary__main__left__item  {
        height: 80px;
    }
}

.summary__main__left__item__text p:first-child {
    font-family: "inter";
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 133%;
    color: #4B465C;
    opacity: 0.9;
}

.summary__main__left__item__text p:nth-child(2) {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 154%;
    color: #4B465C;
    opacity: 0.8;
    flex-grow: 1;
}

.summary__main__left__item__icon {
    width: 42px;
    height: 42px;
}

.summary__main__left__item:first-child .summary__main__left__item__icon {
    background-image: url("../assets/Icon.png");
}

.summary__main__left__item:nth-child(2) .summary__main__left__item__icon {
    background-image: url("../assets/Icon_2.png");
}

.summary__main__left__item:nth-child(3) .summary__main__left__item__icon {
    background-image: url("../assets/Icon_3.png");
}

.summary__main__right {
    width: 314px;
    background-image: url("../assets/diagram.png");
    background-size: cover;
}

@media (max-width: 1024px) {
    .summary__main__right {
        width: 272px;
        height: 272px;
    }
}

.summary footer {
    display: flex;
    height: 48px;
    justify-content: space-between;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147%;
    color: #4B465C;
    opacity: 0.5;
    column-gap: 1.4%;
}

@media (max-width: 652px) {
    .summary footer {
        flex-direction: column;
        height: 70px;
        align-items: center;
    }
}

.summary footer p:first-child {
    flex-grow: 1;
}