@import './styles/login.css';
@import './assets/fonts/Inter Web/inter.css';
@import './styles/register.css';
@import './styles/reset-password.css';
@import './styles/main.css';
@import './styles/summary.css';
@import './styles/categories.css';
@import './styles/addCategory.css';
@import './styles/footer.css';
@import './styles/meels-and-drinks.css';
@import './styles/add-meel.css';
@import './styles/code-generation.css';
@import './styles/appoint-tables.css';
@import './styles/orders-list.css';
@import './styles/order.css';
@import './styles/emloyers.css';
@import './styles/add-employer.css';

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  background-color: #f8f7fa;
}